*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
#Original{
    display: flex;
    max-width: 300px ;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.original-num{
    width: calc(100%/5 - 10px);
    font-size: 3.5rem;
    margin: 40px;
    color: red;
}
#Guess{
    display: none;
    margin-top: 130px;
}
.what{
    border-radius: 5px;
    border: 1px solid #eee;
    outline-width: thin;;
    outline-color: #ddd;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    margin-left: 10px;
    font-size: 60px;
    height: 80px;
    max-width: 120px;

}
.what::-webkit-outer-spin-button,
.what::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}
.what:valid {
    border-color: #1DBF73;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#guess-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
#in{
    width: 720px;
}
#try{
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}
.question{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}
#CountD{
    text-align: center;
    font-size: 2.5rem;
    opacity: 0.4;
}
#Gen-Num{
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}
#reset{
    display: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}